

/*首页推荐*/

.main-item:nth-child(1) {
    background: #31C8DE;
}

.main-item:nth-child(2) {
    background: #7691D7;
}

.main-item:nth-child(3) {
    background: #1B98C1;
}

.main-item:nth-child(4) {
    background: #06C594;
}

.main-item .know {
    padding: 30px
}

.main-item {
    font-size: 18px;
    color: #fff;
}

.main-item .content {
    margin-top: 30px;
    font-size: 14px;
}

.main-item .more {
    font-size: 14px;
    margin-top: 30px;
}

.header .icon {
    width: 30px;
    height: 36px;
    margin-right: 28px;
}

.center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    width: 100%;
    padding: 50px 0;
    position: relative;
    background: #f7f7f7;
}

/*咨讯*/
.news {
    text-align: center;
}

.news .title {
    font-size: 36px;
    color: #333;
    padding-top: 40px;

}

.news .sub-title {
    font-size: 14px;
    color: #666
}

.news .title-en {
    margin-top: 10px;
    font-size: 24px;
    color: #666;
    margin-bottom: 30px;
}

.news .content .left {
    position: relative;
}

.news .content .left .date-content {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 15px;
    background-color: #395dad;
    color: #fff;
}

.news .content .day {
    font-size: 40px;
}

.news .content .line+.line {
    margin-top: 15px;
}

.news .content .line .date-content {
    /*padding:0 15px;*/
    color: #333;
    margin-right: 10px;
}

.news .content .line .right {
    text-align: left
}

.news .content .line .right .news-title {
    font-size: 20px;
    color: #395dad;
    margin-bottom: 5px;
}

.news .content .line .right .content {
    font-size: 16px;
    color: #666
}

/*产品*/
.product .product-title .title {
    font-size: 18px;
    color: #666;
    padding: 20px 0 10px;
}

.product .product-title .title:hover,
.product .product-title .title.active {
    color: #395dad;
    cursor: pointer;
    border-bottom: 4px solid #395dad
}

.product .content .line {
    position: absolute;
    height: 2px;
    background: #f2f2f2;
    width: 100%;
    left: 0;
    right: 0;
}

.product .content .product-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .product-title {
    font-size: 28px;
    color: #333;
    margin-top: 40px;
}

.product .product-content {
    font-size: 18px;
    color: #666;
    margin-top: 30px;
    text-align: left;
    text-indent: 40px
}

.product .read-more {
    text-align: right;
    color: #395dad;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

/*服务*/
.service .content .flex {
    flex-direction: column;
    padding: 0 10px;
    color: #666;
    font-size: 16px;
    margin-bottom: 50px;
}

.service .content .flex .title {
    font-size: 24px;
    color: #333333;
}
/*下载*/
.download {
	color: #fff;
}
.download .title {
	font-size: 24px;
	margin: 24px 15px;
}
.download>.clearfix > div + div{
	/*margin-left: 100px;*/
}
.download>.clearfix a {
	color: #fff;
	font-size: 17px;
}

@media (min-width:1280px) {}

@media (min-width:768px) {
    .main-fav {
        position: absolute;
        left: 0;
        right: 0;
        top: -80px;
    }
}

@media (max-width: 768px) {
    .footer-nav {
        display: none
    }
    .carousel-inner .item img {
        min-height: 180px
    }
    .news .content .line {
        padding: 20px;
    }
}