.news-item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(234,234,234,1);
	padding-bottom: 10px
}
.news-item + .news-item {
	margin-top: 30px
}
.news-item .news-title {
	font-size:18px;
	font-family:Helvetica;
	color:rgba(57,57,57,1);
}
.news-item .news-title:hover {
	cursor: pointer;
	color: #395dad
}
.news-item .date {
	font-size: 16px;
	color: #B9B9B9
}
#sub-product-list h2 {
	font-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #395DAD;
	text-align: center;
}